<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
		
	<!-- PRODUCTS -->
	<import resource="classpath:productsTest.xml"/>

	<!-- BASKET -->
	<bean name="basket" class="com.codingtest.basket.domain.Basket">
		<property name="products">
			<map>				
				<entry key="Apples" value-ref="apples" />
				<entry key="Oranges" value-ref="oranges" />
			</map>
		</property>
		<property name="currencyCode" value="GBP" />
		<property name="currencySymbol" value="£" />
		<property name="currencyLocal" value="UK" />
	</bean>
	
	<!-- OFFERS -->
	<import resource="classpath:offersTest.xml"/>
	
	<!-- BASKET SERVICE -->
	<bean name="basketService" class="com.codingtest.basket.service.impl.BasketService">
		<property name="basket" ref="basket"/>
		<property name="offers">
			<set>
				<ref bean="applesQuarterPriceOffer" />
			</set>
		</property>
	</bean>

</beans>